[Unit]
Description=dHouse remote device control
After=network.target 

[Service]
Type=simple
User=www-data
Group=www-data
ExecStart=/usr/bin/php /usr/local/dhouse/service/dhouse_service.php
ExecReload=/bin/kill -s SIGUSR1 $MAINPID
KillMode=process
Restart=always
RestartPreventExitStatus=255
WorkingDirectory=/usr/local/dhouse/service

[Install]
WantedBy=multi-user.target
